---
import Songs from '../../components/Songs.astro';
import Artists from '../../components/Artists.astro';
import Albums from '../../components/Albums.astro';
import Playlists from '../../components/Playlists.astro';
import Devices from '../../components/Devices.astro';

import data from '../../file.json';
---

<h1><a href="/">Home</a></h1>
</br>
<h2>Spotify 2023 Wrapped</h2>
<p>
<div>
    <Devices stat={data.top_devices}/>
</div>
</p>

<p>
<div>
    <Songs stat={data.top_songs}/>
</div>
</p>

<p>
<div>
    <Artists stat={data.top_artists}/>
</div>
</p>

<p>
<div>
    <Albums stat={data.top_albums}/>
</div>
</p>

<p>
<div>
    <Playlists stat={data.top_playlists}/>
</div>
</p>

<style>
    :root, a {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
    }
</style>